/* Estilos personalizados */
body {
    background-color: #27465a; /* Color de fondo para todo el cuerpo */
    font-family: Arial, sans-serif; /* Tipo de letra para todo el cuerpo */
  }
  
  h1,
  h2 {
    background-color: #447e99; /* Color de fondo para los títulos */
    color: #fff; /* Color del texto de los títulos */
    padding: 10px; /* Espaciado interno alrededor de los títulos */
    border-radius: 5px; /* Bordes redondeados para los títulos */
  }
  
  p,
  .p{
    background-color: #728eb9a5; /* Color de fondo para párrafos y listas */
    padding: 10px; /* Espaciado interno alrededor de párrafos y listas */
    border-radius: 5px; /* Bordes redondeados para párrafos y listas */
    }